<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel = "stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>ERMIFY</h1>
    <textarea id="ermify"></textarea>
    <br>
    <div class="container">
        <button onclick="ermify()">ermify</button>
        <h3 id="ermifiedTxt"></h3>
        <br>
        <img src="https://img1.picmix.com/output/stamp/normal/0/0/7/6/2646700_c852a.gif">
    </div>

    <script src="/static/script.js"></script>
</body>
</html>